<!DOCTYPE html>
<html lang="es">
{% load static %}
<head>
  <meta charset="UTF-8">
  <title>Detalles del Teclado</title>
  <style>
    body {
        font-family: 'Arial', sans-serif;
        font-size: 18px;
        color: #333;
        background-color: #f8f8f8;
        margin: 0;
        padding: 0;
      }
      
      header {
        background-color: #333;
        color: #fff;
        text-align: center;
        padding: 10px;
      }

      main {
        max-width: 800px;
        margin: 20px auto;
        background-color: #fff;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      }
      
      img {
        max-width: 100%;
        height: auto;
        margin-top: 20px;
      }
      
      h1 {
        font-size: 36px;
        font-weight: bold;
        color: #333;
        margin-top: 20px;
      }
      
      p {
        margin-bottom: 15px;
        line-height: 1.6;
      }
      
      strong {
        color: #3498db;
      }
      
      h2 {
        font-size: 24px;
        font-weight: bold;
        color: #555;
        margin-top: 20px;
      }
      
      table {
        border-collapse: collapse;
        width: 100%;
        margin-top: 15px;
      }
      
      th, td {
        padding: 15px;
        text-align: left;
        border-bottom: 1px solid #ddd;
      }
      
      th {
        background-color: #f0f0f0;
      }
      
      a {
        display: inline-block;
        padding: 10px 20px;
        margin-top: 20px;
        background-color: #3498db;
        color: #fff;
        text-decoration: none;
        border-radius: 5px;
        transition: background-color 0.3s;
      }
      
      a:hover {
        background-color: #297fb8;
      }
    </style>
</head>
<body>
  <header>
    <h1>Detalles del Teclado</h1>
  </header>

  <main>
    <div class="producto">
      <h2>RK ROYAL KLUDGE Teclado mecánico</h2>
      <img src="{% static 'img/teclado2.png' %}" width="90%">
      <p>M75 2.4GHz/Bluetooth/USB-C Teclado para juegos con cable 75% Disposición 81 teclas montada con pantalla inteligente OLED y perilla, retroiluminación RGB interruptor rojo intercambiable en caliente.</p>
      <p>Precio: US$109.99</p>
    </div>
    
    <h2>¡Compra el tuyo ahora!</h2>
    <a href="/carrito">Comprar ahora</a>

    <a href="/ventas">ver mas Teclados</a>
  </main>
</body>
</html>

