<!DOCTYPE html>
{% load static %}
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Teclados Mecánicos WD</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f4f4f4;
        }

        header {
            background-color: #333;
            color: white;
            padding: 10px;
            text-align: center;
        }

        section {
            margin: 20px;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
        }

        .producto {
            background-color: #fff;
            border: 1px solid #ddd;
            border-radius: 8px;
            padding: 15px;
            margin: 10px;
            width: 300px;
            box-sizing: border-box;
        }

        .ver-mas-btn {
            background-color: #4caf50;
            color: white;
            border: none;
            padding: 10px 20px;
            text-align: center;
            text-decoration: none;
            display: block;
            margin: 10px auto;
            font-size: 16px;
            border-radius: 5px;
            cursor: pointer;
        }
    </style>
</head>
<body>
    <header>
        <h1>Tienda de Teclados Mecánicos</h1>
    </header>

    <section>
        <div class="producto">
            <h2>8Bitdo Retro Mechanical Keyboard</h2>
            <img src="{% static 'img/teclado1.png' %}" width="90%">
            <p>Bluetooth/2.4G/USB-C Hot Swappable Gaming Keyboard with 87 Keys.... .</p>
            <p>Precio: US$99.99</p>
            <a href="/vermas"><button class="ver-mas-btn">ver mas</button></a>
        </div>

        <div class="producto">
            <h2>RK ROYAL KLUDGE Teclado mecánico</h2>
            <img src="{% static 'img/teclado2.png' %}" width="90%">
            <p>M75 2.4GHz/Bluetooth/USB-C Teclado para juegos con cable 75%....</p>
            <p>Precio: US$109.99</p>
            <a href="/teclado2"><button class="ver-mas-btn">ver mas</button></a>
        </div>

        <div class="producto">
            <h2>TXVX Retro 75% Teclado</h2>
            <img src="{% static 'img/teclado3.png' %}" width="90%">
            <p>para juegos con pantalla OLED y perilla, M87 Pro Bluetooth 5.1/2.4GHz ....</p>
            <p>Precio: US$89.99</p>
            <a href="/teclado3"><button class="ver-mas-btn">ver mas</button></a>
        </div>



        <div class="producto">
            <h2>KZZI Teclado mecánico K75 PRO RGB</h2>
            <img src="{% static 'img/teclado4.png' %}" width="90%">
            <p>75% con junta inalámbrica, triple modo Bluetooth5.0/2.4G/USB-C....</p>
            <p>Precio: US$119.99</p>
            <a href="/teclado4"><button class="ver-mas-btn">ver mas</button></a>
        </div>


        <div class="producto">
            <h2>EPOMAKER TH80 SE Junta 75% Teclado mecánico</h2>
            <img src="{% static 'img/teclado5.png' %}" width="90%">
            <p>NKRO Intercambiable en caliente RGB 2.4Ghz/Bluetooth....</p>
            <p>Precio: US$120.99</p>
            <a href="/teclado5"><button class="ver-mas-btn">ver mas</button></a>
        </div>


        <div class="producto">
            <h2>EPOMAKER Teclado mecánico RT100</h2>
            <img src="{% static 'img/teclado6.png' %}" width="90%">
            <p>teclado retro para juegos, con pantalla de visualización...</p>
            <p>Precio: US$89.99</p>
            <a href="/teclado6"><button class="ver-mas-btn">ver mas</button></a>
        </div>


        <div class="producto">
            <h2>KEYMECHER Teclado mecánico 75%</h2>
            <img src="{% static 'img/teclado7.png' %}" width="90%">
            <p>teclado inalámbrico retroiluminado RGB Hotswap compatible con Bluetooth....</p>
            <p>Precio: US$76.99</p>
            <a href="/teclado7"><button class="ver-mas-btn">ver mas</button></a>
        </div>

        <div class="producto">
            <h2>COSTOM XVX - Teclado mecánico de perfil bajo, 75 %</h2>
            <img src="{% static 'img/teclado8.png' %}" width="90%">
            <p> color morado, Bluetooth/2.4 GHz/con cable Tri-Mode 84 teclas RGB teclado inalámbrico...</p>
            <p>Precio: US$120.99</p>
            <a href="/teclado8"><button class="ver-mas-btn">ver mas</button></a>
        </div>




s


        <!-- Puedes agregar más productos según sea necesario -->

    </section>

    <script>

    </script>
</body>
</html>

