<!DOCTYPE html>
{% load static %}
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Watch Legion - Venta de Teclados</title>

    <style>
        /* Reset de estilos para garantizar la consistencia entre navegadores */
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        
        body {
            font-family: 'Arial', sans-serif;
            line-height: 1.6;
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: #111;
            color: #fff;
        }
        
        /* Estilos para la barra de navegación */
        nav {
            background-color: #333;
            color: #fff;
            padding: 10px;
            text-align: right;
            width: 100%;
        }
        
        nav ul {
            list-style: none;
        }
        
        nav ul li {
            display: inline-block;
            margin-left: 20px;
        }
        
        nav a {
            text-decoration: none;
            color: #fff;
            font-weight: bold;
        }
        
        /* Estilos para las secciones */
        section {
            margin: 20px;
            width: 80%;
            background-color: #1c1c1c;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        }
        
        h2 {
            color: #4285f4;
        }
        
        p {
            color: #ddd;
        }
        
        /* Estilos para el logo de la empresa */
        img {
            max-width: 100%;
            height: auto;
            display: block;
            margin: 20px auto;
        }
        
        /* Estilos para los botones de login y registro */
        .login-register {
            display: flex;
            justify-content: flex-end;
            width: 80%;
            margin-bottom: 20px;
        }
        
        button {
            background-color: #4285f4;
            color: #fff;
            padding: 10px 20px;
            border: none;
            cursor: pointer;
            font-size: 16px;
            margin: 10px;
            border-radius: 5px;
        }

        /* Estilos para la sección de contacto */
        .contacto {
            margin-top: 20px;
            text-align: center;
        }

        .contacto a {
            color: #4285f4;
            margin: 0 10px;
            text-decoration: none;
            font-weight: bold;
        }
        
        /* Estilos adicionales según sea necesario */
    </style>
</head>
<body>

    <!-- Sección de Navegación -->
    <nav>
        <ul>
            <li><a href="/login">Login</a></li>
            <li><a href="/Registro">Registrarse</a></li>
        </ul>
    </nav>

    <!-- Logo de la Empresa -->
    <div>
        <img src="{% static 'img/legiones.png' %}" width="50%">
    </div>

    <!-- Sección de Quiénes Somos -->
    <section id="quienes-somos">
        <h2>Quiénes Somos</h2>
        <p>
            Bienvenido a Watch Legion, tu destino para teclados de alta calidad. En Watch Legion, no solo vendemos teclados; creamos experiencias de escritura extraordinarias para nuestros clientes.
        </p>
        <p>
            Nuestra historia comenzó en [2015], cuando un grupo de apasionados por la tecnología y amantes de los teclados se unieron para formar Watch Legion. Desde entonces, hemos estado comprometidos con la excelencia y la innovación.
        </p>
        <p>
            En Watch Legion, nos enorgullece ofrecer una amplia gama de teclados diseñados para satisfacer las necesidades de todos, desde jugadores entusiastas hasta profesionales creativos. Nuestros productos no solo son herramientas, sino expresiones de estilo y rendimiento.
        </p>
        <p>
            Nuestra misión es proporcionar la mejor experiencia de compra, brindando productos de alta calidad respaldados por un servicio al cliente excepcional. Valoramos la satisfacción de nuestros clientes y nos esforzamos por superar sus expectativas en cada interacción.
        </p>
        <p>
            En Watch Legion, no solo vendemos teclados; vendemos posibilidades, creatividad y rendimiento. Únete a nosotros en nuestro viaje mientras continuamos redefiniendo la forma en que experimentas el mundo de los teclados.
        </p>
        <img src="{% static 'img/quienessomos1.png' %}" width="50%">
    </section>

    <!-- Sección de Países de Envío -->
    <section id="paises-envio">
        <h2>Países de Envío</h2>
        <p>
            Enviamos nuestros productos a todo el mundo, llevando la experiencia de nuestros teclados a cada rincón del planeta. Nuestra red de distribución global garantiza entregas rápidas y seguras, para que puedas disfrutar de tu nuevo teclado sin importar dónde te encuentres.
        </p>
        <p>
            Trabajamos con los mejores servicios de mensajería para ofrecerte opciones de envío flexibles y confiables. Puedes seleccionar el método de envío que mejor se adapte a tus necesidades, ya sea envío estándar, express o incluso envío gratuito en pedidos superiores a cierta cantidad.
        </p>
        <p>
            Consulta nuestra sección de envíos para obtener detalles específicos sobre los países cubiertos, los tiempos estimados de entrega y los costos asociados. Queremos que tu experiencia de compra sea transparente y sin complicaciones, por lo que proporcionamos información detallada para que tomes decisiones informadas.
        </p>
        <p>
            Además, ofrecemos servicios de seguimiento en tiempo real para que puedas rastrear tu paquete desde nuestro almacén hasta tu puerta. Tu satisfacción es nuestra prioridad, y estamos comprometidos a brindarte un servicio de envío de primera clase.
        </p>
        <img src="{% static 'img/paises.png' %}" width="50%">
    
    </section>

    <!-- Sección de Contacto -->
    <div class="contacto">
        <h2>Contactenos</h2>
        <a href="https://wa.me/tunumerodetelefono" target="_blank">WhatsApp</a>
        <a href="https://www.instagram.com/tuusuario/" target="_blank">Instagram</a>
        <a href="https://www.facebook.com/tuusuario/" target="_blank">Facebook</a>
    </div>

</body>
</html>
