<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar Sesión</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>


    </style>

    <h1 id = "titulo"> </h1> 




    <form method="post">
        {% csrf_token %}
        <h2>Iniciar Sesión</h2>
        <label for="Usuario">Usuario:</label>
        <input type="text" id="username" name="username" required>

        <label for="password">Contraseña:</label>
        <input type="password" id="password" name="password" required>

        <a href="/ventas"><button type="button">Iniciar Sesión</button></a>
        <a href="/Registro"><button type="button">Registro</button></a>
    </form>

</body>
</html>
