<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar Sesión</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>

    <form method = "post">
        {% csrf_token %}
        <h2>Registrarse</h2>
        <label for="Nombre">Nombre:</label>
        <input type="text" id="username" name="nombre" required>

        <label for="apellido">Apellidos:</label>
        <input type="apellido" id="apellido" name="apellido" required>

        <label for="correo">correo:</label>
        <input type="correo" id="correo" name="correo" required>

        <label for="Usuario">Usuario:</label>
        <input type="Usuario" id="Usuario" name="usuario" required>

        <label for="password">Contraseña:</label>
        <input type="password" id="password" name="password" required>

        <a href="/login"><button type="button">Iniciar Sesión</button></a>
       <button type="button">Registrarse</button>
    </form>

</body>
</html>