{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
  <nav>
    <ul>
      <li><a href="/">Inicio</a></li>
    </ul>
    <img src="{% static 'img/logo.png' %}" width="10%">
  </nav>
  <main>
    <div class="container">
      <div class="category">
          <h2>categoria 1: gorras</h2>
          <a href="/gorras"><button>Ver+</button></a>
          <div class="images">
              <div class="image">
                  <img src="{% static '/img/gorras.png' %}" alt="Image 3">
                  <div class="details">
                      <h3>GORRA NEW ERA</h3>
                      <p>$350.000</p>
                      <p>categoria: GORRAS</p>
                  </div>
                  <a href="/infoproductos">informacion</a>
              </div>
              <div class="image">
                  <img src="{% static '/img/gorray.jpg' %}" alt="Image 2">
                  <div class="details">
                      <h3>gorra new era roja intenso </h3>
                      <p>$190.000</p>
                      <p>categoria: gorras</p>
                  </div>
                  <a href="/infoproductos">Detalles</a>
              </div>
          </div>
      </div>

      <div class="category">
          <h2>categoria 2: buzos</h2>
          <a href="/buzo"><button>Ver+</button></a>
          <div class="images">
              <div class="image">
                  <img src="{% static '/img/buzo.png' %}" alt="Image 3">
                  <div class="details">
                      <h3>buzo travis scott</h3>
                      <p>$400.000</p>
                      <p>categoria: buzos</p>
                  </div>
                  <a href="/infoproductos">Detalles</a>
              </div>
              <div class="image">
                  <img src="{% static '/img/buzoo.jpg' %}" alt="Image 4">
                  <div class="details">
                      <h3>buzo travis scott blue</h3>
                      <p>$590.000</p>
                      <p>categoria: buzos</p>
                  </div>
                  <a href="/infoproductos">Detalles</a>
              </div>
          </div>
      </div>
  </div>
  <style>
    .container {
      max-width: 1200px;
      margin: 0 auto;
      padding: 20px;
      display: flex;
      flex-direction: column;
    }

    .category {
      width: 20cm;
      height: 50%;
      background-color: #fff;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      border-radius: 8px;
      overflow: hidden;
      margin-bottom: 20px;
    }

    .category h2 {
      text-align: center;
      color: #333;
      padding: 15px;
      margin: 0;
      background-color: #383838;
      color: #fff;
    }

    .category a button {
      display: block;
      text-align: center;
      padding: 10px;
      background-color: #2c2c2c;
      color: #fff;
      text-decoration: none;
      border-top: 1px solid #ddd;
    }

    .images {
      display: flex;
      justify-content: space-around;
      padding: 30px;
    }

    .image {
      width: 48%;
      margin-bottom: 60px;
      padding: 20px;
      background-color: #fff;
      border-radius: 9px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
    .image a{
      text-align: center;
      color: #333;
      padding: 15px;
      margin: 0;
      background-color: #3a3a3a;
      color: #fff;
    }

    .image img {
      width: 100%;
      border-radius: 8px;
    }

    .details {
      padding: 10px;
    }

    .details h3 {
      margin: 0;
      color: #333;
    }

    .details p {
      margin: 0;
      color: #777;
    }
  </style>
  </main>
</body>
</html>
