{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Registro</title>
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
  <nav>
    <ul>
      <li><a href="/">Inicio</a></li>
    </ul>
    <img src="{% static 'img/logo.png' %}" width="10%">
  </nav>
  <main>
    <section >
      <div class="infoProducto">
        <h2 class="tituloProducto">Producto</h2>
        <img src="{% static 'img/gorraazul.png' %}" width="20%" alt="imagendetalle">
        <input type="number" name="cantidad" value="1">
        <a href="/Categorias"><button>Comprar</button></a>
      </div>
      <style>
    

        main{
          margin: 50px auto;
          background-color: #fff;
          padding: 70px;
          border-radius: 8px;
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
          display: flex;
          justify-content: space-around;
          align-items: center;
        }
        .infoProducto{
          max-width: 800px;
          margin: 50px -50px;
          padding: 70px;
          border-radius: 8px;
          box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
        }
      </style>
    </section>


    <section>
      
      <style>
        .carousel-container {
            width: 80%;
            max-width: 800px;
            margin: 50px auto;
            overflow: hidden;
            position: relative;
            margin-left: 4cm;
        }

        .carousel-content {
            display: flex;
            transition: transform 0.5s ease-in-out;
        }

        .carousel-item {
            min-width: 100%;
            box-sizing: border-box;
        }

        .carousel-item img {
            width: 100%;
            height: auto;
            display: block;
        }

        .carousel-btn {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            width: 30px;
            height: 30px;
            background-color: rgb(191, 191, 235);
            color: #fff;
            border: none;
            cursor: pointer;
        }

        .prev {
            left: 10px;
        }

        .next {
            right: 10px;
        }
      </style>

    <div class="container">
        <div class="category">
            
  
            <div class="images">
                <div class="image">
                    <img src="{% static '/img/gorras.png' %}"  width="30%"alt="Image 3">
                    <div class="details">
                   
                    </div>
         
                </div>
                <div class="image">
                    <img src="{% static '/img/gorray.jpg' %}" width="30%" alt="Image 2">
                    <div class="details">
                   
                    </div>
                    
                </div>
            </div>
        </div>
      <script>
        let currentIndex = 0;

        function showSlide(index) {
            const carouselContent = document.querySelector('.carousel-content');
            const slides = document.querySelectorAll('.carousel-item');
            const totalSlides = slides.length;

            if (index < 0) {
                currentIndex = totalSlides - 1;
            } else if (index >= totalSlides) {
                currentIndex = 0;
            } else {
                currentIndex = index;
            }

            const translateValue = -currentIndex * 100 + '%';
            carouselContent.style.transform = 'translateX(' + translateValue + ')';
        }

        function prevSlide() {
            showSlide(currentIndex - 1);
        }

        function nextSlide() {
            showSlide(currentIndex + 1);
        }

        setInterval(nextSlide, 3000);
      </script>
    </section>
  </main>
</body>
</html>
