body {
    background-color: #2c2c2c;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url('/static/img/legion.png');
    background-size: cover; 
    background-position: center; 
}

form {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#titulo{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    color: rgb(214, 14, 14);
    top: 20px
  }

label {
    display: block;
    margin-bottom: 8px;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
}

button {
    background-color: rgb(222, 42, 42);
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

    .container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.category {
  width: 20cm;
  height: 50%;
  background-color: #f5f5f5; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
  margin-bottom: 20px;
}

.category h2 {
  text-align: center;
  color: #fff;
  padding: 15px;
  margin: 0;
  background-color: #333;
}

.category a button {
  display: block;
  text-align: center;
  padding: 10px;
  background-color: #555; 
  color: #fff;
  text-decoration: none;
  border-top: 1px solid #ddd;
}

.images {
  display: flex;
  justify-content: space-around;
  padding: 30px;
}

.image a {
  text-align: center;
  color: #fff;
  padding: 15px;
  margin: 0;
  background-color: #444; 
}

.image {
  width: 48%;
  margin-bottom: 60px;
  padding: 20px;
  background-color: #f9f9f9; 
  border-radius: 9px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.image img {
  width: 100%;
  border-radius: 8px;
}

.details {
  padding: 10px;
}

.details h3 {
  margin: 0;
  color: #333;
}

.details p {
  margin: 0;
  color: #777;
}



