:root{
  --fondoHeader: #5a5a5a;
  --fondoBody : #2d2d2d;
  --fondoNovedades : #a9a9a9;
  --fondoFooter : #272727;
 
}

body {
  background-color: var(--fondoHeader);
  margin: 0;

}

nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--gris);
  padding: 20px;

}
button {
  background-color: var(--gris);
  color: rgb(203, 203, 203);
  border: #ffffff;
  cursor: pointer;

}

header {
  background: var(--fondoNovedades);
  display: flex;
  justify-content: center;
}

#poliLogo {
  padding: 20px;
  box-shadow: 0px 0px 10px var(--gris);


}

main {
  display: flex;
  align-items: center;
  justify-content: space-around;

}

#infopersonal{
  display: flex;
  align-items: center;
  padding: 20px;
}


#paginalogin{
  justify-content: space-around;
}

imput{
  outline: none;
  padding: 5px;
  border-radius: 5px;
}

#pagCategorias{
 flex-direction: column;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #666666;
}

nav {
  background-color: #adadad;
  color: rgb(255, 255, 255);
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav button {
  background-color: #747474;
  color: #ffffff;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
}

section {
  background-color: #646464;
  color: #ffffff;
  border: 1px solid #4f4f4f;
  padding: 20px;
  margin: 10px;
  flex: 1; /* Cambio importante: ahora utiliza flex */
  box-sizing: border-box;
}

h2 {
    color: #ffffff;
}

.producto {
  display: flex;
  flex-direction: column; /* Cambio importante: ahora utiliza column */
  align-items: center;
  margin-bottom: 15px;
}

img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

p {
  margin: 5px 0;
}

strong {
  color: #ffffff;
}
#productosCategorias {
  display: flex;
}

#producto {
  margin: 20px;
  background-color: #141414;
  padding: 20px;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 5px black;
}

#producto img {
  max-width: 30vh;
}

#title {
  color: white;
  text-align: center;
  text-shadow: 0 0 1px black;
}

#detalleProducto {
  background-color: #292929;
  padding: 20px;
  margin: 50px;
  display: flex;
  justify-content: center;
  box-shadow: 0 0 5px black;
}

#detalleProducto img {
  max-width: 50%;
}

#detalleProducto button {
  width: 40%;
  margin-top: 25vh;
  position: absolute;
}

#detalleProducto input {
  width: 10%;
}

#productos {
  display: flex;
  flex-wrap: wrap;
}
