    <!DOCTYPE html>
    {% load static %}
    
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>iNICIO  </title>
        <style>
            /* Reset some default styles */
            body, h1, h2, p, img {
                margin: 0;
                padding: 0;
            }
            
            body {
                font-family: Arial, sans-serif;
                background-color: #f2f2f2; /* Set a light gray background color */
                margin: 0;
            }
            
            nav {
                background-color: #333333; /* Set a dark gray background color */
                color: #ffffff;
                padding: 10px;
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
            
            nav button {
                background-color: #555555; /* Set a slightly lighter gray for buttons */
                color: #ffffff;
                padding: 5px 10px;
                border: none;
                cursor: pointer;
            }
            
            section {
                background-color: #666666; /* Set a medium gray background color for sections */
                color: #ffffff;
                border: 1px solid #444444; /* Set a darker gray border color */
                padding: 20px;
                margin: 10px;
            }
            
            strong {
                color: #ffffff;
            }
            
            main {
                display: flex;
                justify-content: space-around;
                padding: 20px;
            }
            
            img {
                max-width: 100%;
                height: auto;
                margin-bottom: 10px;
            }
            
            #poliLogo {
                padding: 20px;
                box-shadow: 0px 0px 10px #555555; /* Set a shadow color for the logo */
            }
            
            #infoPersonal {
                margin-top: 20px;
            }
            
            /* Add more styles as needed */
            


        </style>
        

        

    </head>
    <body>
        <nav>
            <section>
            <a href="login"><button>login</button> </a>
            <a href="registro"><button>Registro</button> </a>
            </section>
            <img src="{% static 'img/logo.png' %}" width="150">
        </nav>
        <header>
            <img id= "poliLogo" src="{% static 'img/poliLogo.png' %}">
        </header>
        <main>
            <section>
                <strong>habilidades</strong>
                <p>soy un pelado jucioso y responsable</p>
                <strong>herramientas: </strong>
                <p>python,django, java</p>
            </section>
            <section>
                <img src ="{% static 'img/foto.png' %}" width="200">
                <div id = "infoPersonal">
                    <strong>Nombre: </strong><p>Sebastian </p>
                    <strong>Apellido: </strong><p>Rios  </p>
                    <strong>Cedula: </strong><p>1000411554 </p>
                    <strong>Correo: </strong><p>sebastian_rios8222@elpoli.edu.co </p>
                </div>
            </section>
        </main>
    </body>
</html>