<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> REGISTRO  </title>

    <style>
        /* Reset some default styles */
body, h1, h2, p, img {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2; /* Set a light gray background color */
    margin: 0;
}

nav {
    background-color: #333333; /* Set a dark gray background color */
    color: #ffffff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav button {
    background-color: #555555; /* Set a slightly lighter gray for buttons */
    color: #ffffff;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #666666; /* Set a medium gray background color for the header */
    padding: 20px;
}

#poliLogo {
    padding: 20px;
    box-shadow: 0px 0px 10px #555555; /* Set a shadow color for the logo */
}

form {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

form div {
    margin-bottom: 10px;
}

form div strong {
    margin-right: 10px;
}

form input {
    padding: 5px;
    border-radius: 3px;
}

form button {
    background-color: #555555;
    color: #ffffff;
    padding: 8px 15px;
    border: none;
    cursor: pointer;
}

main {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

section {
    background-color: #999999; /* Set a dark gray background color for sections */
    color: #ffffff;
    border: 1px solid #777777; /* Set a darker gray border color */
    padding: 20px;
    margin: 10px;
}

img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

#infoPersonal {
    margin-top: 20px;
}


    </style>
</head>
<body>
    <nav>
        <section>
        <a href="/"><button>Inicio</button></a>
        </section>
        <img src="{% static 'img/logo.png' %}"width="150">
    </nav>
    <header id ="paginalogin" >

        <section>
            <h4>Cuarto entregable</h4>
            <form method="post">
            {% csrf_token %}

                <div>
                    <strong>Nombre: </strong>
                    <input name="nombre" type="tetx" required />
                </div>

                <div>
                    <strong>Primer apellido: </strong>
                    <input name="papellido" type="tetx" required />
                </div>


                <div>
                    <strong>Segundo apellido: </strong>
                    <input name="sapellido" type="tetx" required />
                </div>

                <div>
                    <strong>correo: </strong>
                    <input name="correo" type="tetx" required />
                </div>

                <div>
                    <strong>Usuario: </strong>
                    <input name="usuario" type="tetx" required />
                </div>
                <div>
                    <strong>Contraseña: </strong>
                    <input name="clave" type="password" required />
                </div>
                <button type="submit">Registro</button>
            </form>
            <a href="/Login"><button>Login</button> </a>
        </section> 
        <img id= "poliLogo" src="{% static 'img/poliLogo.png' %}">  
    </header>
    <main>
        <section>
            <strong>habilidades</strong>
            <p>soy un pelado jucioso y responsable</p>
            <strong>herramientas: </strong>
            <p>python,django, java </p>
        </section>
        <section>
            <img src ="{% static 'img/foto.png' %}" width="200">
            <div id = "infoPersonal"
                <strong>Nombre: </strong><p>Sebastian </p>
                <strong>Apellido: </strong><p>Rios  </p>
                <strong>Cedula: </strong><p>1000411554 </p>
                <strong>Correo: </strong><p>sebastian_rios8222@elpoli.edu.co </p>
            </div>
        </section>
    </main>
</body>
</html>